<div class="detail">
  <div *ngIf="!edit_url">
    <h3>
      <label>Name:
        <input [(ngModel)]="city.name" placeholder="name"/>
      </label><br>
      <label>Country:
        <input [(ngModel)]="city.country" placeholder="name"/>
      </label><br>
      <label>Description:
        <input [(ngModel)]="city.description" placeholder="name"/>
      </label><br>
    </h3>
    <div *ngIf="edit_url">
      <label>Description:
        <input [(ngModel)]="url" placeholder="URL"/>
      </label><br>
      <button (click)="editUrl()">OK</button>
    </div>
    <button (click)="editCity()">OK</button>
    <button (click)="backDetail()">Cancel</button>
  </div>
</div>