<div class="detail">
  <div *ngIf="!edit_url">
    <h3>
      <label>Name:
        <input [(ngModel)]="city.name" placeholder="name"/>
      </label><br>
      <label>Country:
        <input [(ngModel)]="city.country" placeholder="name"/>
      </label><br>
      <label>Description:
        <input [(ngModel)]="city.description" placeholder="name"/>
      </label><br>
    </h3>
    <button (click)="editCity()">OK</button>
    <button (click)="backDetail()">Cancel</button>
  </div>
</div>

<div *ngIf="edit_url">
  <div><h3><span>Name: </span>{{city.name}}</h3>
  <div><h3><span>Country: </span>{{city.country}}</h3>
  <p>{{city.description}}</p>
  <label>Url:
    <input [(ngModel)]="url" placeholder="URL"/>
  </label>
  <button (click)="editUrl()">OK</button>
  <button (click)="backUrl()">Cancel</button>
</div>